.slider-mobile {
    width: 100%;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: nowrap;
}

.slider__nav {
    display: none;
}


@media screen and (max-width: 924px) {
    .slider-mobile {
        height: 568px;
        width: 300px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        justify-content: center;
    }
    
    .slider__nav {
        display: block;
        width: 15px;
        height: 15px;
        margin: 13px 11px 56px 0;
        border-radius: 50%;
        z-index: 10;
        outline: 7.5px solid var(--white-background);
        outline-offset: -10px;
        cursor: pointer;
        appearance: none;
        
    }

    .slider__nav:last-of-type {
        margin-right: 0;
    }
      
    .slider__nav:checked {
        animation: check 0.4s linear forwards;
    }
    
    .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
        left: 0%;
    }
      
    .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
        left: -100%;
    }
      
    .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
        left: -200%;
    }
      
    .slider__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 300%;
        height: 100%;
        transition: left 0.3s ease;
        display: flex;
        flex-wrap: nowrap; 
    }
      
    .slider__contents {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
      
      
    @keyframes check {
        50% {
          outline-color: var(--accent-backround);
        }
        100% {
          outline-color: var(--accent-backround);
        }
    }
}

